@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Baron";
  src: url("../public/fonts/BaronNeue-Black.otf");
}
@font-face {
  font-family: "outfit-regular";
  src: url("../public/fonts/Outfit-Regular.otf");
}

html {
  scroll-behavior: smooth;
}